/*
 * Copyright 2014 the original author or authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.header {
    background: #24292e;
}

.header .build-id {
    text-align: right;
    vertical-align: middle;
    font-size: 100%;
    display: table-cell;
    padding-right: 20px;
}

.header .build-id a {
    color: #fff;
    text-decoration: underline;
}

.sidebar {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    width: 300px;
}

.content {
    margin-left: 300px;
}

.content-noslide {
    margin-left: 10px;
}

.footer .credit {
    float: left;
}

.content-nav-top {
    padding: 0 2em;
}
.content-nav .prev-page {
    color: #4cae4c;
}
.content-nav .next-page {
    color: #c7254e;
}

.page-toc-shrinked {
    position: fixed;
    top: 3.2em;
    right: 1em;
    padding: 10px 0 0 8px;
    width: 2em;
    height: 2em;
}

.page-toc-expanded {
    position: fixed;
    top: 3.2em;
    right: 1em;
    width: auto;
    height: auto;
    padding: 1em 2em .5em 1em;
    font-size: .8em;
    z-index: 99;
    opacity: 0.95;
    overflow: auto;
    display: none;
}

h1 {
    border-bottom: 5px solid #ddd;
    padding: 10px;
}

table thead {
    background: rgba(96,125,139,0.16);
    text-align: center;
}

