/*
 * Copyright 2013 the original author or authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * Basic
 */
* {
    font-weight: 300;
}

html,
body {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

h1, h2, h3 {
    margin-bottom: 24px;
    font-family: 'Chelsea Market', Georgia, serif;
}

h4, h5, h6 {
    margin-bottom: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-top: 1.5em;
}

h1, .h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 1em;
    text-align: center;
    color: #4c0d09;
}

h2, .h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin: .5em;
    color: #cc4037;
}

h3, .h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: .2em;
    color: #d3b2af;
}

h4, .h4 {
    font-size: 26px;
}

h5, .h5 {
    font-size: 22px;
}

h6, .h6 {
    font-size: 18px;
}

p {
    line-height: 1.5em;
    margin: 0 0 11.5px;
}

blockquote {
    font-size: 100%;
    color: #777;
    padding: 10px 20px;
}

blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
    margin: 0 0 20px 0;
}

table {
    border: 1px solid #ccc;
    font-size: 100%;
    margin: 1.5em 0;
}

table td, table th {
    border: 1px solid #ccc;
    padding: 8px 15px;
}

table th {
    white-space: nowrap;
    font-weight: 700;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: 2em 0;
}

pre {
    border-radius: 0;
}

code {
    color: #333;
    background: #eee;
    border-radius: 0;
}

dt {
    margin: 1em 0 .2em 1em;
}

dd {
    margin-left: 2.5em;
}

li {
    margin-top: 3px;
}

a {
    border-bottom: 1px solid transparent; /* to avoid a chattering when hovering */
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid #aaa;
}

.hljs {
    background: none;
    padding: 0;
}

.table-responsive {
    border: none;
    width: auto;
}

.number {
    padding-right: .5em;
}

/*
 * Header
 */
.header {
    position: fixed;
    width: 100%;
    background: #34495e;
    color: #fff;
    height: 50px;
    display: table;
    z-index: 99;
}

.header .sidebar-toggle {
    vertical-align: middle;
    display: table-cell;
    width: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header .title {
    vertical-align: middle;
    font-family: 'Chelsea Market', Georgia, serif;
    display: table-cell;
    padding: 0 0 0 20px;
}

.header .title a {
    color: #fff;
}

.header .title a:hover {
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.sidebar-toggle + .title {
    padding: 0;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #ccc;
    padding: 1em .5em 4em 1.5em;
    background: #eee;
    z-index: 66;
}

.sidebar .invisible {
    display: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    list-style-type: none;
    margin: 3px 0 0 0px;
    padding-left: 1.5em;
    text-indent: -1.5em;
}

.sidebar a {
    color: #333;
}

.sidebar a.active,
.sidebar a.active .number {
    font-weight: 700;
}

.sidebar .directory {
    color: #999;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        width: 100% !important;
        z-index: 88;
    }

    .sidebar > ul {
        margin: 0 20px 20px 0;
    }
}

/*
 * Content
 */
.content {
    position: relative;
    min-height: 100%;
    padding: 0 60px;
    background: #fff;
    z-index: 77;
    margin-left: 250px;
}

.content .content-container {
    position: relative;
    min-height: 100%;
    padding: 130px 0 110px 0;
}

.content-nav {
    width: 100%;
    overflow: auto;
}

.content-nav .prev-page {
    float: left;
}

.content-nav .prev-page .fa {
    margin-right: 8px;
}

.content-nav .next-page {
    float: right;
}

.content-nav .next-page .fa {
    margin-left: 8px;
}

.content-nav-top {
    position: absolute;
    top: 65px;
}

.content-nav-bottom {
    position: absolute;
    bottom: 55px;
}

.main-content > h1:first-child,
.main-content > h2:first-child,
.main-content > h3:first-child,
.main-content > h4:first-child,
.main-content > h5:first-child,
.main-content > h6:first-child {
    margin-top: 0;
}

.content-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    cursor: col-resize;
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0 30px;
        margin-left: 0 !important;
    }
}

/*
 * footer
 */
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.footer .version {
    float: left;
}

.footer .credit {
    float: right;
}

/*
 * page toc
 */
.page-toc {
    float: right;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 1em 2em .5em 1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0 0 .5em 1.5em;
}

.page-toc .invisible {
    display: none;
}

.page-toc ul {
    margin-left: -1.5em;
}

@media screen and (max-width: 1280px) {
    .page-toc {
        float: none;
        width: 100%;
        margin: 0 0 2em 0;
    }
}
