<html>
  <head>
    <meta charset="UTF-8">
    <% if (currentPage.title) { %>
    <title>${currentPage.numbers ? currentPage.numbers.join(".") + ". " : ""}${currentPage.title} - $title</title>
    <% } else { %>
    <title>$title</title>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Chelsea+Market" rel="stylesheet">

      <link rel="stylesheet" href="${resource('/css/bootstrap.min.css')}">
    <link rel="stylesheet" href="${resource('/css/font-awesome.min.css')}">
    <link rel="stylesheet" href="${resource('/css/highlight.css')}">
    <link rel="stylesheet" href="${resource('/css/style.css')}">
    <% extensionStyles.each { style -> %>
    <link rel="stylesheet" href="${style}">
    <% } %>
    <link rel="stylesheet" href="${resource('/css/my.css')}">
  </head>
  <body>
  <a href="https://github.com/ishame/predocs"><img style="position: fixed; bottom: 0; right: 0; border: 0; z-index: 100; margin: 0;" src="${resource('/img/forkme.png')}" alt="Fork me on GitHub"></a>
    <div class="wrapper">
      ${include('header')}
      ${include('sidebar')}
      ${include('content')}
    </div>
    <script src="${resource('/js/jquery-2.1.1.min.js')}"></script>
    <script src="${resource('/js/highlight.js')}"></script>
    <script src="${resource('/js/application.js')}"></script>
    <% extensionScripts.each { script -> %>
    <script src="${script}"></script>
    <% } %>
    <script src="${resource('/js/my.js')}"></script>
  </body>
</html>
